<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Recycle</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/logo.jpg" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Vesperr - v2.2.1
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <!--h1 class="text-light"><a href="index.html"><span>Vesperr</span></a></h1-->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="index.html"><img src="static/assets/img/logo.jpg" alt="" class="img-fluid"></a>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#index.html">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <!--li><a href="#portfolio">Portfolio</a></li-->
          <!--li><a href="#team">Team</a></li-->
          <!--li><a href="#pricing">Pricing</a></li-->
           <li><a href="#contact">Contact</a></li>
          <!--li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li-->
              <!--li class="drop-down"><a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li>

          <li class="get-started"><a href="#about">Get Started</a></li-->
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
           <!--a href="index.html" class="logo mr-auto"><img src="assets/img/MainLOGO.jpg" alt="" class="img-fluid"></a-->
          <h1 data-aos="fade-up">Recycling Waste</h1>
          <br>
          <br>
          <h2 data-aos="fade-up" data-aos-delay="400"></h2>
          <div data-aos="fade-up" data-aos-delay="800">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="static/assets/img/recycle.jpg" class="img-fluid animated" alt="" width="550" height="310">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
         <div class="section-title" data-aos="fade-up">
          <h2>About</h2>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <img src="static/assets/img/R.jpg" class="img-fluid" alt="" width="400px" height="400px">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <!--h3>Voluptatem dignissimos provident quasi corporis voluptates</h3-->
            <p class="font-italic" align="">
              <!--p class="font-size" align="Center">About Google Developer Students Club</p-->
           <br>Recycling is important in today’s world if we want to leave this planet for our future generations. It is good for the environment since we are making new products from the old products which are of no use to us. Recycling begins at home. If you are not throwing away any of your old products and instead utilizing it for something new, then you are actually recycling.

When you think of recycling, you should really think about the whole idea; reduce, reuse and recycle. We’ve been careless up to this point with the way we’ve treated the Earth, and it’s time to change, not just the way we do things but the way we think.</p>
           <!--ul>
              <li><i class="ri-check-double-line"></i> RFID waste management solutions support identification and traceability of waste streams.</li>
              <li><i class="ri-check-double-line"></i> Tags attached to waste containers enable operators to monitor sorting quality, track the number of times a container is placed for collection and track the weight of its contents.</li>
              <li><i class="ri-check-double-line"></i> Waste bin RFID tags simplify service billing and support implementation of incentive-based invoicing.</li>
            </ul-->
          
            <!--ul>
              <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
              <li><i class="icofont-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
              <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda</li>
            </ul-->
            <!--p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur.
            </p-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    
    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Tips To Reduce Recyclic Waste</h2>
         
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="static/assets/img/paper.jpg" class="img-fluid" alt="">
                <!--div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div-->
              </div>
              <div class="member-info">
                <h4>Reuse scrap paper for crafts</h4>
                <p>Even the smallest bits of pretty fabric and paper can make a big impact. Turn them into strips of decorative tape and you’ll have beautiful trims ready to use.</p>
                
                <!--a href="#" class="btn-learn-more">Learn More</a-->
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="static/assets/img/pack.jpg" class="img-fluid" alt="">
                <!--div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div-->
              </div>
              <div class="member-info">
                <h4>Repurpose glass jars and containers</h4>
                
                <p>You’re paying extra for these food-filled glass containers, why not reuse them for other household items that need a new container? You can look up many green living ideas on Pinterest that will show you great ways to recycle plain glass jars into pretty home-products, ranging from food containers to decorative light-hangers.</p>
                  <!--a href="#" class="btn-learn-more">Learn More</a-->
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="static/assets/img/towel.jpg" class="img-fluid" alt="">
                <!--div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div-->
              </div>
              <div class="member-info">
                <h4>Use cloth napkins and towels</h4>
                <p>Using cloth napkins and towels in the kitchen and bathrooms will help to reduce paper consumption and give you a reusable product, possibly saving you a couple hundred dollars a year.</p>
                
                  <!--a href="#" class="btn-learn-more">Learn More</a-->
              </div>
            </div>
          </div>



          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="static/assets/img/food.jpg" class="img-fluid" alt="">
                <!--div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div-->
              </div>
              <div class="member-info">
                <h4>Donate to Food Banks and Farms.</h4>
                <p>Before you throw away excess food, look into food banks and charities where you can bring items you know you're not going to consume before they go bad, and give them to people in need.</p>
                <span></span>
                 <!--a href="#" class="btn-learn-more">Learn More</a-->
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->





    
    <!-- ======= Breadcrumbs ======= >
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Organic Waste</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li></li>
          </ol>
        </div>

      </div>
    </section--><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section =======>
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row">

          <div class="col-lg-8">
            <h2 class="portfolio-title">This is an example of portfolio detail</h2>
            <div class="owl-carousel portfolio-details-carousel">
              <img src="static/assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <img src="static/assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <img src="static/assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: Web design</li>
              <li><strong>Client</strong>: ASU Company</li>
              <li><strong>Project date</strong>: 01 March, 2020</li>
              <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
            </ul>

            <p>
              Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
            </p>
          </div>

        </div>

      </div>
    </section--><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>Vesperr</strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/vesperr-free-bootstrap-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#intro" class="scrollto">Home</a>
            <a href="#about" class="scrollto">About</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>
  <script src="static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="static/assets/vendor/counterup/counterup.min.js"></script>
  <script src="static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/venobox/venobox.min.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>